* {
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 1440px;
}

.leftwr {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.photo {
  width: 100%;
}

.ava {
  max-width: -webkit-fill-available;
}

.rigwr {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.info {
  padding: 30px;
  font-size: 30px;
}

h2 {
  margin: 35px 0px;
}

.name {
  padding: 30px 50px;
  margin: 0 0 0 20px;
}

.name:after {
  content: '';
  border: 1px solid blue;
  width: 100%;
  display: block;
}

h1 {
  margin: 0 0 40px 0;
  font-size: 50px;
}

.achiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 0 20px;
  padding: 0px 50px;
}
.about {
  max-width: 40%;
  margin: 0px;
}

.skill {
  max-width: 50%;
  margin: 0px;
}

.achiv > h3 {
  margin-bottom: 30px;
}

.exp > h4 {
  margin: 20px 0px;
}

.exp > h6 {
  margin: 10px 0px;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.skilch {
  display: flex;
  flex-direction: column;
}

.workch {
  display: flex;
  flex-direction: column;
}

#slid {
  max-height: 21px;
}
